@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*Pseudoclases para los colores*/
:root{
    --colorTextos: #0b0b0b;
    --colorBotones: #503559;
    --colorBotonesClaro: #d58cfc;
    --colorTextosClaro: #f3e5f5;
    --colorFondos: #d6c8de;
}

/*Reiniciamos los tamaños y margenes*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    background: #dadada;
}

/*Barra de navegacion*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    margin-bottom: 25px;
}

.menu{
    position: relative;
    margin: none;
    color: var(--colorTextos);
    font-size: 60px;
    background: none;
    border: none;
    top: 5px;
    cursor: pointer;
    outline: none;
}

#btn_menu{
    display: none;
    position: absolute;
}

.container_menu{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
}

/*Si el boton menu se presiona, se hace visible la sombra*/
#btn_menu:checked ~ .container_menu{
    opacity: 1;
    visibility: visible;
}

/*Opciones del menu*/
.cont_menu{
    width: 100%;
    max-width: 250px;
    background: var(--colorTextos);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

/*Si se presiona el boton menu, se traslada hasta ser visible*/
#btn_menu:checked ~ .container_menu .cont_menu{
    transform: translateX(0%);
}

.cont_menu nav{
    transform: translateY(15%);
}

/*Opciones*/
.cont_menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
}

/*Animacion de opciones*/
.cont_menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont_menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: var(--colorTextos);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: var(--colorTextos);
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after{
    transform: translateY(0);
    opacity: 1;
}

.perfil{
    color: var(--colorTextos);
    font-size: 50px;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out;
}

#btn-perfil{
    position: absolute;
    display: none;
}

/*Opciones desplegables del perfil*/
.opciones{
    position: absolute;
    width: 150px;
    height: auto;
    right: 0;
    background: var(--colorFondos);
    top: 70px;
    visibility: hidden;
    transform: translateX(100%);
    transition: .2s ease-in-out;
}

/*Si se presiona el boton perfil, se trasladan las opciones hasta se visibles*/
#btn-perfil:checked ~ .opciones{
    visibility: visible;
    transform: translateX(0%);
}

.opciones a{
    display: block;
    height: 50px;
    padding: 10px;
    text-decoration: none;
    color: var(--colorTextos);
}

.opciones a:hover{
    background: #cca9dd;
}

.search-bar{
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid var(--colorTextos);
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--colorTextos);
    padding-left: 10px;
}

.search-bar input::placeholder{
    color: var(--colorTextos);
}

.search-bar button{
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i{
    font-size: 22px;
    color: var(--colorTextos);
}

.logo{
    width: 30%;
    height: 100%;
    background: var(--colorTextos);
    margin-left: 30px;
    margin-right: 30px;
}

/*----Contenido central----*/

/*Parte superior*/
.superior{
    width: 100%;
    height: 90vh;
    background: #1c1c1c;
    top: 70px;
    position: relative;
}

.superior{
    .info{
        position: absolute;
        width: 35%;
        height: 50%;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 10%;
    }

    .info h1{
        font-size: 60px;
        font-weight: 500;
        color: var(--colorTextosClaro);
    }

    .info p{
        position: absolute;
        bottom: 0;
        color: var(--colorTextosClaro);
    }

    .img{
        position: absolute;
        height: 50%;
        width: 35%;
        right: 10%;
        top: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        background: url('https://cdn.akamai.steamstatic.com/steam/apps/1551360/ss_1da0673f82eccc3c9d222237dec40e36bf10eef3.1920x1080.jpg?t=1683059745');
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    }

    .background{
        width: 100%;
        height: 100%;
        background: url('https://2.bp.blogspot.com/-CTDg5kEEbFQ/UPVsPXCplkI/AAAAAAAAzKc/5TPWB_96xJI/s1600/Vista-de-un-atardecer-en-la-orilla-de-la-playa_imagenes-hd-de-playas-y-atardeceres.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: .5;
    }
}

/*Parte media*/
.medio{
    width: 100%;
    height: 200vh;
    position: relative;
    margin-top: 150px;
}

.medio div{
    position: relative;
    width: 60%;
    height: auto;
    left: 0;
    right: 0;
    margin: auto;
}

.medio div p{
    font-size: 40px;
    text-align: center;
    position: relative;
}

.medio #imagen{
    position: relative;
    margin-top: 90px;
    height: 115vh;
    width: 100%;
    background: url('https://3.bp.blogspot.com/-eilZTdgbWPA/XFUltCS4Z1I/AAAAAAAABz0/feDxTa3Emtsb3Wx4xxu0hWnFrohqtwQfwCKgBGAs/w0/mountain-lake-scenery-nature-cottage-25-4K.jpg');
    background-size: cover;
    background-position: center;
}

/*Parte inferior*/
.inferior{
    width: 100%;
}

/*Tamaño y posicion contenedor*/
.inferior .info-cursos{
    width: 80%;
    background: #fff;
    padding: 30px;
    border-radius: 3px;
    left: 0;
    right: 0;
    margin: auto;
}

/*Tamaño y posicion del contenedos de las pestañas*/
.inferior .info-cursos .tab_box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #1c1c1c;
    position: relative;
}

/*Tamaño y posicion de las pestañas*/
.inferior .info-cursos .tab_box .tab_btn{
    font-size: 18px;
    font-weight: 600;
    color: var(--colorTextos);
    background: none;
    border: none;
    padding: 18px;
    cursor: pointer;
    outline: none;
}

/*Si se presiona una pestaña, el color de fuente cambia con animacion*/
.inferior .info-cursos .tab_box .tab_btn.active{
    color: var(--colorBotonesClaro);
    transition: all .3s ease-in-out;
}

/*Caja de contenido, el height y width es automatico*/
.inferior .info-cursos .content_box{
    padding: 20px;
}

/*Display none oculta el contenido y cuando esté activa una pestaña aparece con animacion*/
.inferior .info-cursos .content_box .content{
    display: none;
    animation: moving .5s ease;
}

/*Animacion para mostrar el contenido*/
@keyframes moving{
    from{transform: translateX(50px); opacity: 0;}
    to{transform: translateX(0px); opacity: 1;}
}

/*Posicionamiento de la informacion*/
.inferior .info-cursos .content_box .content .informacion{
    width: 100%;
    right: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.inferior .info-cursos .content_box .content .informacion div{
    width: 55%;
    color: var(--colorTextos);
}

.inferior .info-cursos .content_box .content .informacion .imgn{
    width: 43%;
    height: 270px;
    right: 0;
}

/*Fondos de las imagenes de todos los contenidos, el ID está en orden de izquierda a derecha tomando las pestañas de referencia*/
.inferior .info-cursos .content_box .content .informacion{
    #c1{
        background: url('https://static.leonoticias.com/www/multimedia/202107/06/media/MM-senderismo-asturias/oddle-1-ksRC--1350x900@El%20Comercio.jpg');
        background-size: cover;
        background-position: center;
    }

    #c2{
        background: url('https://www.ifam.es/colombia/wp-content/uploads/sites/13/2015/08/imagenes-de-paisajes-hermosos-4.jpg');
        background-size: cover;
        background-position: center;
    }

    #c3{
        background: url('https://res.cloudinary.com/simpleview/image/upload/v1613600936/clients/norway/Urnes_Stave_Church_luster_fjord_Norway_photo_Thomas_Morel_646b0cd1-2926-4b68-867e-8d4a6abba6b2.jpg');
        background-size: cover;
        background-position: center;
    }

    #c4{
        background: url('https://viaturi.com/wp-content/uploads/2017/08/fiordos-noruegos-mas-bonitos.jpg');
        background-size: cover;
        background-position: center;
    }
}

/*Cuando se presione una pestaña, el display cambia para mostrar solo el contenido correspondiente a esa pestaña*/
.inferior .info-cursos .content_box .content.active{
    display: block;
}

/*Tamaño, posicion y transicion de la linea*/
.inferior .info-cursos .tab_box .line{
    position: absolute;
    top: 62px;
    left: 75px;
    width: 90px;
    height: 5px;
    background-color: var(--colorBotonesClaro);
    transition: all .3s ease-in-out;
}

/*Footer*/

.footer{
    position: relative;
    margin-top: 15vh;
    width: 100%;
    height: 100px;
    background: #fff;
    color: var(--colorTextos);
    padding: 30px;
}

.footer ul{
    display: flex;
    justify-content: space-between;
}

.footer li{
    list-style: none;
}

.footer h2{
    font-size: 25px;
}

.footer .c_electronico label{
    font-weight: 500;
    font-size: 18px;
}

.footer .c_electronico a{
    color: var(--colorTextos);
    text-decoration: none;
    font-weight: 300;
}

.footer .direccion label{
    font-weight: 500;
    font-size: 18px;
}

.footer .direccion p{
    color: var(--colorTextos);
    text-decoration: none;
    font-weight: 300;
}

.footer .sociales{
    position: relative;
    top: 10px;
}

.footer .sociales i{
    color: var(--colorTextos);
    font-size: 25px;
    margin-right: 15px;
    transition: .3s ease;
}

.footer .sociales i:hover{
    transform: scale(1.2);
}